
<button (click)="getGames('views')">Get by views</button>
<button (click)="getGames('time')">Get by time</button>
<button (click)="openAll()">OpenAll</button>

<label>Min Views</label>
<input type="number" value="1" placeholder="1" [(ngModel)]="minViews">
<label>queryLengthPerGame</label>
<input type="number" value="10" placeholder="10" [(ngModel)]="queryLengthPerGame">
<label>MaxAge</label>
<input type="text" value="01:00" placeholder="01:00" [(ngModel)]="maxAge">
QueryTime: {{now.toTimeString().substring(0,8)}}

<!--
<div *ngFor="let game of games">
  {{game.id}} + {{game.name}}
  <br>
</div>


-->


<table>
  <thead>
      <th>Link_______</th>
      <th>Age________</th>
      <th>Views______</th>
      <th>Streamer___</th>
      <th>Game_______</th>
      <th>Title______</th>
  </thead>
  <tbody>
      <tr *ngFor="let clip of clips">
          <td><a href={{clip.url}}>{{clip.url}}</a></td>
          <td>{{age(clip.created_at)}}</td>
          <td>{{clip.view_count}}</td>
          <td>{{clip.broadcaster_name}}</td>
          <td>{{clip.game_id}}</td>
          <td>{{clip.title.substring(0,80)}}</td>
      </tr>
  </tbody>
</table>


